{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "import",
    "ringcentral"
  ],
  "extends": ["eslint:recommended"],
  "rules": {
    "no-undef": "error",
    "no-unused-vars": "off"
  }
}
